<%= simple_form_for @team, html: { class: "form-inline" } do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name,    input_html: { class: "col-md-8" } %>
  <%= f.button :submit, :class => "btn btn-primary" %>

  <% if @team.players.any? %>
    <h2><%= pluralize(@team.players.count, "Player") %></h2>
  <% else %>
    <h2>No Players!</h2>
  <% end %>

<% end %>

<table class="table table-hover">
  <tr>
    <th/>
    <th/>
    <th colspan="4">Scores</th>
    <th colspan="2">Averages</th>
    <th/>
    <th/>
  </tr>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Total</th>
    <th>Batting</th>
    <th>Bowling</th>
    <th>Fielding</th>
    <th>Bat Avg</th>
    <th>Bowl Avg</th>
    <th/>
  </tr>
  <% @team.players.each do |player| %>
    <%= render partial: "players/playertab", object: player %>
  <% end %>
  <tr>
    <th>Total</th>
    <th></th>
    <th class="text-right"><%= @team.players.sum(:total) %></th>
</table>

