<%# This file is used for example by render @teams %>
<li>
  <span class="name"><%= link_to team.name, team %></span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(team.updated_at) %> ago.
  </span>
  <% if current_user and current_user.id == team.user.id %>
    <span><%= link_to 'Edit', edit_team_path(team), class: "btn btn-default" %></span>
    <span><%= link_to 'Destroy', team, method: :delete,
  	  data: { confirm: 'Destroy this team?' }, class: "btn btn-danger" %></span>
  <% else  %>
    <br>Owner: <%= team.user.name %>
  <% end %>    
</li>
