<% provide(:title, @team.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @team.user %>
        <%= @team.user.name %>
        <br/>
        <small>Team cash: <%= "£%0.1fm" % (@team.user.teamcash / 10.0) %></small>
      </h1>
    </section>
  </aside>
</div>

<h3>
  <%= @team.name %>
  <div class="btn-group">
  <% if correct_user_for_team?(@team) %>
    <%= link_to "Edit Team", edit_team_path(@team), :class => "btn btn-default" %>
    <%= link_to "Validate", validate_team_path(@team), :class => "btn btn-primary", method: :post  unless @team.validated %>
  <% end %>
  <%= link_to 'Player Scores', list_ps_team_path, class: "btn btn-default" %>
  </div>
</h3>
<h3>
  <small>Captain: <%= Player.find(@team.captain_id).name unless @team.captain_id.nil? %></small><br/>
  <small>Keeper: <%= Player.find(@team.keeper_id).name unless @team.keeper_id.nil? %></small>
</h3>
<p>Status: team <%= @team.validated ? "" : "not" %> validated.
  <% if @team.validated %>
    <span class="glyphicon glyphicon-ok"></span>
  <% else %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
  <% end %>
</p>
<p>
  Drop: <%= @team.user.drop_available? ? "" : "not" %> available.
</p>
<% if @team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being validated:</h2>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table class="table table-hover">
  <tr>
    <th colspan="4"/>
    <th colspan="4">Scores</th>
    <th colspan="2">Averages</th>
    <th/>
    <th/>
  </tr>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Type</th>
    <th class="text-right">Price</th>
    <th class="text-right">Total</th>
    <th class="text-right">Batting</th>
    <th class="text-right">Bowling</th>
    <th class="text-right">Fielding</th>
    <th class="text-right">Bat Avg</th>
    <th class="text-right">Bowl Avg</th>
    <th/>
  </tr>
  <% @team.players.each do |player| %>
    <%= render partial: "players/playertab", object: player %>
  <% end %>
  <tr>
  	<th>Player Total</th>
    <th colspan="3" />
  	<th class="text-right"><%= @team.players.sum(:total) %></th>
  </tr>
  <tr>
  	<th>Team Total</th>
    <th colspan="3" />
  	<th class="text-right"><%= @team.totalscore %></th>
  </tr>
</table>

