<% provide(:title, @team.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @team.user %>
        <%= @team.user.name %>
      </h1>
    </section>
  </aside>
</div>

      <h3>
        <%= @team.name %>
        <% if correct_user_for_team?(@team) %>
          <%= link_to "Edit", edit_team_path(@team), :class => "btn btn-primary" %>
        <% end %>
      </h3>

<table class="table table-hover">
  <tr>
    <th/>
    <th/>
    <th colspan="4">Scores</th>
    <th colspan="2">Averages</th>
    <th/>
    <th/>
  </tr>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Total</th>
    <th>Batting</th>
    <th>Bowling</th>
    <th>Fielding</th>
    <th>Bat Avg</th>
    <th>Bowl Avg</th>
    <th/>
  </tr>
  <% @team.players.each do |player| %>
    <%= render partial: "players/playertab", object: player %>
  <% end %>
  <tr>
  	<th>Total</th>
  	<th></th>
  	<th class="text-right"><%= @team.players.sum(:total) %></th>
  </tr>
  <tr>
  	<th>My Total</th>
  	<th></th>
  	<th class="text-right"><%= @team.totalscore %></th>
  </tr>
</table>

