      <tr>
        <td><%= link_to innings.inningsname, match_innings_path(@match, innings) %></td>
        <td><%= innings.numbats %></td>
        <td><%= innings.numbowls %></td>
        <td><%= innings.numfields %></td>
        <% if admin_user? %>
            <td><%= link_to 'Edit', edit_match_innings_path(@match, innings), class: "btn btn-small" %></td>
            <td><%= link_to 'Destroy', match_innings_path(@match, innings), class: "btn btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
