<% provide(:title, "#{@innings.inningsname}") %>
<p id="notice"><%= notice %></p>

<h1>
	<%= @innings.matchname %>
	<small>
		<%= @innings.date %>
	</small>
</h1>
<h2><%= @innings.inningsname %></h2>

<!-- render "player_scores/index" uses the _index.html.etb partial -->
<%= render "player_scores/index" %>

<% if admin_user? %>
  <%= link_to 'Edit', edit_match_innings_path(@match, @innings), class: "btn btn-default" %>
<% end %>
<%= link_to 'Back', @match, class: "btn btn-default" %>
<% if admin_user? %>
  <%= link_to 'New Player score', new_match_innings_player_score_path(@match, @innings), class: "btn btn-default" %>
<% end %>
