<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :name, placeholder: "Full name" %>
      <%= f.input :email, placeholder: "user@example.com" %>
      <%= f.input :password, placeholder: "New password" %>
      <%= f.input :password_confirmation, required: true, placeholder: "Same password again" %>

      <%= f.button :submit, "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>