<% provide(:title, "Users") %>
<h1>Listing users</h1>

<%= will_paginate %>

<table class="users table table-hover">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Team name</th>
    <th><%= sortable "teams.first.totalscore", "Total score" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
  </tr>
  <% @users.each do |user| %>
    <%= render partial: "usertab", object: user %>
  <% end %>
</table>

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>
