<% provide(:title, "League Table") %>
<h1>League Table</h1>

<table class="users table table-hover">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Team name</th>
    <th><%= sortable "totalscore", "Total score" %>
    <th><%= sortable "updated_at", "Updated" %></th>
  </tr>
  <% @users.each do |user| %>
    <%= render partial: "usertab", object: user %>
  <% end %>
</table>

<%= will_paginate %>
<br/>

<%#= link_to 'New User', new_user_path, class: "btn btn-default", role: "button" %>
