<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <% if current_user.id == @user.id and ! @user.teams.any? %>
        <%= render 'shared/team_form' %> 
      <% end %>
    </section>
  </aside>
</div>
<div class="row">
    <% if @user.teams.any? %>
      <h3>
        <%= link_to @user.teams.first.name, @user.teams.first %>
        <% if correct_user_for_team?(@user.teams.first) %>
          <%= link_to "Edit", edit_team_path(@user.teams.first), :class => "btn btn-primary" %>
        <% end %>
      </h3>
      <table class="table table-hover">
        <tr>
          <th/>
          <th/>
          <th colspan="4">Scores</th>
          <th colspan="2">Averages</th>
          <th/>
          <th/>
        </tr>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Total</th>
          <th>Batting</th>
          <th>Bowling</th>
          <th>Fielding</th>
          <th>Bat Avg</th>
          <th>Bowl Avg</th>
          <th/>
        </tr>
        <% @user.teams.first.players.each do |player| %>
          <%= render partial: "players/playertab", object: player %>
        <% end %>
        <tr>
          <th>Total</th>
          <th></th>
          <th class="text-right"><%= @user.teams.first.players.sum(:total) %></th>
      </table>
      <%= will_paginate @teams %>
    <% else %>
      <h3>No team created</h3>
    <% end %>

</div>
