<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<!--
  <div class="span8">
    <% if @user.players.any? %>
      <h3>Team: (<%= @user.players.count %> players)</h3>
      <ol class="players">
        <%= render @players %>
      </ol>
      <%= will_paginate @players %>
    <% end %>

</div>
-->
<%= @user.name %>, <%= @user.email %>
