<h1>Listing tokens</h1>

<table class="table">
  <thead>
    <tr>
      <th>Real name</th>
      <th>Email address</th>
      <th>Ticket number</th>
      <th>Token</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.realname %></td>
        <td><%= token.email %></td>
        <td><%= token.ticketno %></td>
        <td><%= token.tokenstr %></td>
        <td><%= token.user_id %></td>
        <td><%= link_to 'Show', token %></td>
        <td><%= link_to 'Edit', edit_token_path(token) %></td>
        <td><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<br>

<%= link_to 'New Token', new_token_path %>
