<p id="notice"><%= notice %></p>

<p>
  <strong>Real name:</strong>
  <%= @token.realname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @token.email %>
</p>

<p>
  <strong>Ticket number:</strong>
  <%= @token.ticketno %>
</p>

<p>
  <strong>Token:</strong>
  <%= @token.tokenstr %>
</p>

<p>
  <strong>User:</strong>
  <%= @token.user_id %>
</p>

<%= link_to 'Edit', edit_token_path(@token), class: "btn btn-default" %> |
<%= link_to 'Back', settings_path, class: "btn btn-primary" %>
