<% provide(:title, "Administration") %>
<h1>Administration</h1>

<table class="table administration">
<% @settings.each do |item| %>
  <tr>
    <td><%= item.var %></td>
    <td><%= item.value %></td>
    <td><%= item.thing_id %></td>
    <td><%= item.thing_type %></td>
  	<% if !!item.value == item.value %>
	    <td><%= link_to 'Toggle', "/settings/#{item.id}/toggle", method: "post", class: "btn btn-default btn-primary" %></td>
	<% else %>
	    <td><%= link_to 'Edit', "/settings/#{item.id}/edit", class: "btn btn-default btn-primary" %></td>
	<% end %>
  </tr>
<% end %>
</table>
<ul>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Real name</th>
      <th>Email address</th>
      <th>Ticket number</th>
      <th>Token</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.realname %></td>
        <td><%= token.email %></td>
        <td><%= token.ticketno %></td>
        <td><%= token.tokenstr %></td>
        <% if token.user_id.nil? %>
        	<td>-</td>
        <% else %>
        	<% tokenuser = User.find(token.user_id) %>
        	<td><%= link_to tokenuser.name, user_path(tokenuser) %></td>
        <% end %>
        <td><%= link_to 'Show', token, class: "btn detn-default" %></td>
        <% #binding.pry %>
        <td><%= link_to 'Mail', "/tokens/#{token.id}/mail", method: :post, class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token', new_token_path, class: "btn btn-primary" %>
