<!-- div class="row" -->
  <!-- div class="span6 offset3" -->
    <%= simple_form_for @player, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <div class="error_explanation"></div>

        <%= f.input :name %>
        <%= f.input :age_category, required: true, collection: AGE_CATEGORIES %>
        <%= f.input :player_category, required: true, collection: PLAYER_CATEGORIES %>
        <%= f.input :price, required: true %>
        <%= f.input :bat_innings %>
        <%= f.input :bat_runs_scored %>
        <%= f.input :bat_fifties %>
        <%= f.input :bat_hundreds %>
        <%= f.input :bat_ducks %>
        <%= f.input :bat_not_outs %>
        <%= f.input :bowl_overs %>
        <%= f.input :bowl_runs %>
        <%= f.input :bowl_wickets %>
        <%= f.input :bowl_4_wickets %>
        <%= f.input :bowl_6_wickets %>
        <%= f.input :bowl_maidens %>
        <%= f.input :field_catches %>
        <%= f.input :field_runouts %>
        <%= f.input :field_stumpings %>
        <%= f.input :field_drops %>
        <%= f.input :field_mom %>
        <%= f.input :team %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit %>
        <%= link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" } %>
      </div>
    <% end %>
  <!-- /div -->
<!-- /div -->