    <% if !admin_user? %>
      <% if current_user.teams.any? and current_user.teams.first.players.count < PLAYERS_PER_TEAM and !current_user.teams.first.players.include? playermenu %>
        <!-- Here's where the Add acction would change to add remote: true -->
        <%= link_to "Add",  add_player_to_team_path(current_user.teams.first, :player => playermenu), team: current_user.teams.first, method: :post, role: "button", class: "btn btn-default" %>
      <% end %>
      <%# binding.pry %>
      <% if (@team.nil? or correct_user_for_team?(@team)) and (current_user.drop_available or !current_user.teams.first.validated?) and current_user.teams.any? and current_user.teams.first.players.include? playermenu %>
        <% if current_user.teams.first.validated? %>
          <%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playermenu), team: current_user.teams.first, method: :delete, data: { confirm: 'Drop this player from your team?  This action is only allowed once per period.' }, role: "button", class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playermenu), team: current_user.teams.first, method: :delete, role: "button", class: "btn btn-warning" %>
        <% end %>
      <% end %>
    <% else %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><%= link_to "Add",  add_player_to_team_path(current_user.teams.first, :player => playermenu), team: current_user.teams.first, method: :post, role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playermenu), team: current_user.teams.first, method: :delete, role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Edit", edit_player_path(playermenu), remote: true, role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Destroy", playermenu, method: :delete, data: { confirm: 'Delete player?' }, role: "menuitem", tabindex: "-1", class: "btn-danger" %></li>
        </ul>
      </div>
    <% end %>
