<tr id="player_<%= playertab.id %>">
  <td>
    <%= link_to playertab.name, playertab %>
  </td>
  

  <td class="age_category"><%= playertab.age_category %></td>
  <td class="player_category"><%= playertab.player_category %></td>
  <td class="text-right"><%= "£%.1fm" % (playertab.price / 10.0) %></td>
  <% if season == :thisseason %>
    <td class="text-right"><%= playertab.total %></td>
    <td class="text-right"><%= playertab.bat_score %></td>
    <td class="text-right"><%= playertab.bowl_score %></td>
    <td class="text-right"><%= playertab.field_score %></td>
    <td class="text-right"><%= playertab.bat_avg_invalid ? "-" : "%.2f" % playertab.bat_avg.to_f %></td>
    <td class="text-right"><%= playertab.bowl_avg_invalid ? "-" : "%.2f" % playertab.bowl_avg.to_f %></td>
  <% else %>
    <td class="text-right"><%= playertab.ls_total %></td>
    <td class="text-right"><%= playertab.ls_bat_score %></td>
    <td class="text-right"><%= playertab.ls_bowl_score %></td>
    <td class="text-right"><%= playertab.ls_field_score %></td>
    <td class="text-right"><%= playertab.ls_bat_avg_invalid ? "-" : "%.2f" % playertab.ls_bat_avg.to_f %></td>
    <td class="text-right"><%= playertab.ls_bowl_avg_invalid ? "-" : "%.2f" % playertab.ls_bowl_avg.to_f %></td>
  <% end %>
  <td>
    <%= render partial: "players/playermenu", object: playertab %>
  </td>
</tr>
