<tr>
  <td>
    <%= link_to playertab.name, playertab %>
  </td>
  

  <td class="age_category"><%= playertab.age_category %></td>
  <td class="player_category"><%= playertab.player_category %></td>
  <td class="text-right"><%= "£%.1fm" % (playertab.price / 10.0) %></td>
  <td class="text-right"><%= playertab.total %></td>
  <td class="text-right"><%= playertab.bat_score %></td>
  <td class="text-right"><%= playertab.bowl_score %></td>
  <td class="text-right"><%= playertab.field_score %></td>
  <td class="text-right"><%= playertab.bat_avg_invalid ? "-" : "%.2f" % playertab.bat_avg %></td>
  <td class="text-right"><%= playertab.bowl_avg_invalid ? "-" : "%.2f" % playertab.bowl_avg %></td>
  <td>
    <% if !admin_user? %>
      <% if current_user.teams.any? and current_user.teams.first.players.count < PLAYERS_PER_TEAM and !current_user.teams.first.players.include? playertab %>
        <%= link_to "Add",  add_player_to_team_path(current_user.teams.first, :player => playertab), team: current_user.teams.first, method: :post, role: "button", class: "btn btn-default" %>
      <% end %>
      <%# binding.pry %>
      <% if (@team.nil? or correct_user_for_team?(@team)) and (current_user.drop_available or !current_user.teams.first.validated?) and current_user.teams.any? and current_user.teams.first.players.include? playertab %>
        <% if current_user.teams.first.validated? %>
          <%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playertab), team: current_user.teams.first, method: :delete, data: { confirm: 'Drop this player from your team?  This action is only allowed once per period.' }, role: "button", class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playertab), team: current_user.teams.first, method: :delete, role: "button", class: "btn btn-warning" %>
        <% end %>
      <% end %>
    <% else %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Action
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><%= link_to "Add",  add_player_to_team_path(current_user.teams.first, :player => playertab), team: current_user.teams.first, method: :post, role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Drop",  remove_player_from_team_path(current_user.teams.first, :player => playertab), team: current_user.teams.first, method: :delete, role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Edit", edit_player_path(playertab), role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation"><%= link_to "Destroy", playertab, method: :delete, data: { confirm: 'Delete player?' }, role: "menuitem", tabindex: "-1", class: "btn-danger" %></li>
        </ul>
      </div>
    <% end %>
  </td>
</tr>
