<% provide(:title, "Players") %>
<h1>Players</h1>
<p>Click on a player's name to see more detailed statistics for that player.</p>
<table class="players table table-hover">
  <tr>
    <th colspan="4"/>
    <th colspan="4">Scores</th>
    <th colspan="2">Averages</th>
    <th>Action for</th>
  </tr>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "age_category", "Age" %></th>
    <th><%= sortable "player_category", "Type" %></th>
    <th class="text-right"><%= sortable "price", "Price" %></th>
    <th class="text-right"><%= sortable "total", "Total" %></th>
    <th class="text-right"><%= sortable "bat_score", "Batting" %></th>
    <th class="text-right"><%= sortable "bowl_score", "Bowling" %></th>
    <th class="text-right"><%= sortable "field_score", "Fielding" %></th>
    <th class="text-right"><%= sortable "bat_avg" %></th>
    <th class="text-right"><%= sortable "bowl_avg" %></th>
    <th><%= current_user.teams.first.name if current_user.teams.any? %></th>
  </tr>
  <% @players.each do |player| %>
    <%= render partial: "playertab", object: player %>
  <% end %>
</table>

<%= will_paginate %>


<br>

<% if admin_user? %>
  <%= link_to 'New Player', new_player_path, :class => "btn btn-primary" %>
<% end %>
