<% provide(:title, "Players" ) %>
<div class="row">
  <aside class="span4">
    <section>
    <% if current_user %>
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
        <br/><small><%= current_user.email %></small>
        <br/><small class="teamcash">Team cash: <%= format_teamcash(current_user.teamcash) %></small>
      </h1>
    <% end %>
    </section>
  </aside>
</div>


<h1>Players</h1>
<p>Click on a player's name to see more detailed statistics for that player.</p>
<div class="new-player"></div>

<!-- Navigation tabs: Note! These are mock tabs because the links are to new page fetches -->
<ul class="nav nav-tabs">
  <li <%= 'class=active' if @season == :thisseason %> >
    <%= link_to 'This season', { controller: "players", season: :thisseason } %>
  </li>
  <li <%= 'class=active' if @season == :lastseason %> >
    <%= link_to 'Last season', { controller: "players", season: :lastseason } %>
  </li>
</ul>

<div class="tab-content">
  <table class="players table table-hover">
  <thead>
    <tr>
      <th colspan="4"/>
      <th colspan="4">Scores</th>
      <th colspan="2">Averages</th>
      <th>Action for</th>
    </tr>
    <tr>
    <% if @season == :thisseason %>
      <th><%= sortable "name", "Name", @season %></th>
      <th><%= sortable "age_category", "Age", @season %></th>
      <th><%= sortable "player_category", "Type", @season %></th>
      <th class="text-right"><%= sortable "price", "Price", @season %></th>
      <th class="text-right"><%= sortable "total", "Total", @season %></th>
      <th class="text-right"><%= sortable "bat_score", "Batting", @season %></th>
      <th class="text-right"><%= sortable "bowl_score", "Bowling", @season %></th>
      <th class="text-right"><%= sortable "field_score", "Fielding", @season %></th>
      <th class="text-right"><%= sortable "bat_avg", "Bat avg", @season %></th>
      <th class="text-right"><%= sortable "bowl_avg", "Bowl avg", @season %></th>
      <th><%= current_user.teams.first.name if current_user.teams.any? %></th>
    <% else %>
      <th><%= sortable "name", "Name", @season %></th>
      <th><%= sortable "age_category", "Age", @season %></th>
      <th><%= sortable "player_category", "Type", @season %></th>
      <th class="text-right"><%= sortable "price", "Price", @season %></th>
      <th class="text-right"><%= sortable "ls_total", "Total", @season %></th>
      <th class="text-right"><%= sortable "ls_bat_score", "Batting", @season %></th>
      <th class="text-right"><%= sortable "ls_bowl_score", "Bowling", @season %></th>
      <th class="text-right"><%= sortable "ls_field_score", "Fielding", @season %></th>
      <th class="text-right"><%= sortable "ls_bat_avg", "Bat avg", @season %></th>
      <th class="text-right"><%= sortable "ls_bowl_avg", "Bowl avg", @season %></th>
      <th><%= current_user.teams.first.name if current_user.teams.any? %></th>
    <% end %>
    </tr>
  </thead>
  <tbody class="player-index">
    <% #binding.pry %>
    <%= render "index" %>
  </tbody>
  </table>
  
  <%= will_paginate %>
</div>

<br>

<% if admin_user? %>
  <%= link_to 'New Player', new_player_path, remote: true, class: "btn btn-primary" %>
<% end %>

<div id="player-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-player-modal" class="modal-content"></div>
  </div>
</div>