<% provide(:title, "Players" ) %>
<h1>Players <%= @season == :thisseason ? "(this season's scores)" : "(last season's scores)" %></h1>
<p>Click on a player's name to see more detailed statistics for that player.

<% if @season == :thisseason %>
  <%= link_to 'Last season', { controller: "players", season: :lastseason }, class: "btn btn-default" %>
<% else %>
  <%= link_to 'This season', { controller: "players", season: :thisseason }, class: "btn btn-default" %>
<% end %>
</p>

<table class="players table table-hover">
  <tr>
    <th colspan="4"/>
    <th colspan="4">Scores</th>
    <th colspan="2">Averages</th>
    <th>Action for</th>
  </tr>
  <tr>
  <% if @season == :thisseason %>
    <th><%= sortable "name", "Name", @season %></th>
    <th><%= sortable "age_category", "Age", @season %></th>
    <th><%= sortable "player_category", "Type", @season %></th>
    <th class="text-right"><%= sortable "price", "Price", @season %></th>
    <th class="text-right"><%= sortable "total", "Total", @season %></th>
    <th class="text-right"><%= sortable "bat_score", "Batting", @season %></th>
    <th class="text-right"><%= sortable "bowl_score", "Bowling", @season %></th>
    <th class="text-right"><%= sortable "field_score", "Fielding", @season %></th>
    <th class="text-right"><%= sortable "bat_avg", "Bat avg", @season %></th>
    <th class="text-right"><%= sortable "bowl_avg", "Bowl avg", @season %></th>
    <th><%= current_user.teams.first.name if current_user.teams.any? %></th>
  <% else %>
    <th><%= sortable "name", "Name", @season %></th>
    <th><%= sortable "age_category", "Age", @season %></th>
    <th><%= sortable "player_category", "Type", @season %></th>
    <th class="text-right"><%= sortable "price", "Price", @season %></th>
    <th class="text-right"><%= sortable "ls_total", "Total", @season %></th>
    <th class="text-right"><%= sortable "ls_bat_score", "Batting", @season %></th>
    <th class="text-right"><%= sortable "ls_bowl_score", "Bowling", @season %></th>
    <th class="text-right"><%= sortable "ls_field_score", "Fielding", @season %></th>
    <th class="text-right"><%= sortable "ls_bat_avg", "Bat avg", @season %></th>
    <th class="text-right"><%= sortable "ls_bowl_avg", "Bowl avg", @season %></th>
    <th><%= current_user.teams.first.name if current_user.teams.any? %></th>
  <% end %>
  </tr>
  <% @players.each do |player| %>
    <%= render partial: "playertab", object: player, locals: { season: @season } %>
  <% end %>
</table>

<%= will_paginate %>


<br>

<% if admin_user? %>
  <%= link_to 'New Player', new_player_path, :class => "btn btn-primary" %>
<% end %>
