<h1>Listing players</h1>

<%= will_paginate %>

<table class="table">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "age_category", "Age" %></th>
    <th><%= sortable "total", "Score" %></th>
    <th><%= sortable "bat_avg" %></th>
    <th><%= sortable "bowl_avg" %></th>
    <th><%= sortable "updated_at", "Modified" %></th>
  </tr>
  <% @players.each do |player| %>
    <%= render partial: "playertab", object: player %>
  <% end %>
</table>

<%= will_paginate %>


<br>

<%= link_to 'New Player', new_player_path %>
