<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td><h3><%= @player.name %></h3></td>
    <td><h3><%= @player.age_category %></h3></td>
    <td><h3>Team: <%= @player.team %></h3></td>
    <td><h3><%= @player.total %></h3></td>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Innings</th>
    <th>Runs</th>
    <th>Ducks</th>
    <th>Not-outs</th>
    <th>Fifties</th>
    <th>Centuries</th>
  </tr>
  <tr class="warning">
    <th>Batting</th>
    <td><%= @player.bat_innings %></td>
    <td><%= @player.bat_runs_scored %></td>
    <td><%= @player.bat_ducks %></td>
    <td><%= @player.bat_not_outs %></td>
    <td><%= @player.bat_fifties %></td>
    <td><%= @player.bat_hundreds %></td>
  </tr>
  <tr>
    <th></th>
    <th>Overs</th>
    <th>Maidens</th>
    <th>Runs against</th>
    <th>Wickets</th>
    <th>4-wickets</th>
    <th>6-wickets</th>
  </tr>
  <tr class="warning">
    <th>Bowling</th>
    <td><%= @player.bowl_overs %></td>
    <td><%= @player.bowl_maidens %></td>
    <td><%= @player.bowl_runs %></td>
    <td><%= @player.bowl_wickets %></td>
    <td><%= @player.bowl_4_wickets %></td>
    <td><%= @player.bowl_6_wickets %></td>
  </tr>
  <tr>
    <th></th>
    <th>Catches</th>
    <th>Runouts</th>
    <th>Stumpings</th>
    <th>Drops</th>
  </tr>
  <tr class="warning">
    <th>Fielding</th>
    <td><%= @player.field_catches %></td>
    <td><%= @player.field_runouts %></td>
    <td><%= @player.field_stumpings %></td>
    <td><%= @player.field_drops %></td>
  </tr>
</table>


<p>
  <strong>Man of the Match awards:</strong>
  <%= @player.field_mom %>
</p>
<p class="timestamp">
    Updated <%= time_ago_in_words(@player.updated_at) %> ago.
</p>

<% if admin_user? %>
  <%= link_to 'Edit', edit_player_path(@player), :class => "btn btn-small" %>
<% end %>
<%= link_to 'Back', players_path, :class => "btn btn-small" %>
