<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Age category:</strong>
  <%= @player.age_category %>
</p>

<p>
  <strong>Bat innings:</strong>
  <%= @player.bat_innings %>
</p>

<p>
  <strong>Bat runs scored:</strong>
  <%= @player.bat_runs_scored %>
</p>

<p>
  <strong>Bat fifties:</strong>
  <%= @player.bat_fifties %>
</p>

<p>
  <strong>Bat hundreds:</strong>
  <%= @player.bat_hundreds %>
</p>

<p>
  <strong>Bat ducks:</strong>
  <%= @player.bat_ducks %>
</p>

<p>
  <strong>Bat not outs:</strong>
  <%= @player.bat_not_outs %>
</p>

<p>
  <strong>Bowl overs:</strong>
  <%= @player.bowl_overs %>
</p>

<p>
  <strong>Bowl runs:</strong>
  <%= @player.bowl_runs %>
</p>

<p>
  <strong>Bowl wickets:</strong>
  <%= @player.bowl_wickets %>
</p>

<p>
  <strong>Bowl 4 wickets:</strong>
  <%= @player.bowl_4_wickets %>
</p>

<p>
  <strong>Bowl 6 wickets:</strong>
  <%= @player.bowl_6_wickets %>
</p>

<p>
  <strong>Field catches:</strong>
  <%= @player.field_catches %>
</p>

<p>
  <strong>Field runouts:</strong>
  <%= @player.field_runouts %>
</p>

<p>
  <strong>Field stumpings:</strong>
  <%= @player.field_stumpings %>
</p>

<p>
  <strong>Field drops:</strong>
  <%= @player.field_drops %>
</p>

<p>
  <strong>Field mom:</strong>
  <%= @player.field_mom %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
