<% provide(:title, "Matches") %>
<h1>Matches</h1>

<p>The players' scores are calculated based on the results of real matches they play in.  These are listed below.</p>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "matchname", "Match name" %></th>
      <th><%= sortable "date" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.matchname, match %></td>
        <td><%= match.date.to_formatted_s(:rfc822) unless match.date.nil? %></td>
        <% if admin_user? %>
          <td><%= link_to 'Edit', edit_match_path(match), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', match, class: "btn btn-danger", method: :delete, data: { confirm: 'Delete Match, all its Innings and their Player Scores?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<br>

<% if admin_user? %>
  <%= link_to 'New Match', new_match_path, class: "btn btn-default" %>
<% end %>
